/* You can add global styles to this file, and also import other style files */
img { 
    width: 60%; 
    margin: 0; 
    padding: 0; 
}

.container {
    margin: 0 auto; 
    width: 40%; 
}

.innercontainer {
    text-align: center; 
}

.imgradius {
    border-radius: 15px; 
}

.floatright {
    float: right; 
}