ul {
    list-style-type: none; 
    padding: 0;
}

button { 
    font-size: 1.5em; 
    background-color: #FFFFFF;
    color: #707070;
    margin-top: 1%; 
}

span { 
    margin-right: 0.5%;
}

.favorite {
    font-size: .5em;
    margin-top: 0; 
}

input[type="text"] {
    margin-top: 1%; 
    width: 20%; 
}

#container {
    padding: 5% 15%; 
}

#container ul li {
    font-size: 1.5em; 
}

