<div class="container">
  <button (click)="chageTheDay()">Change The Day</button><br>

  <div *ngIf="title == true; then goodDay else badDay">
  </div>

  <ng-template #goodDay>
    <h2>Today is going to be a Good Day!</h2>
    <img src="./assets/happyday.jpg" alt="Dog having a good day">
  </ng-template>
  <ng-template #badDay>
    <h2>I have had better days.</h2>
    <img src="./assets/sadday.jpg" alt="Dog having a bad day">
  </ng-template>
</div>
<div class="container">
  <app-weather></app-weather>
</div>


<div class="container"> 
  <div *ngIf="user; then logout else login">
  </div>
  <ng-template #logout>{{userName}}: <button (click)="log()">Log out</button></ng-template>
  <ng-template #login>Please login: <button (click)="log()">Log In</button></ng-template>
</div>



