h1 {
    background-color: orangered; 
    margin: 5%; 
    padding: 1% 0 1% 0%; 
    color: #ffffff; 
    text-align: center;
    align-content: center;
}

h2 {
    background-color: orangered; 
    margin: 5%; 
    padding: 1% 0 1% 0%; 
    color: #ffffff; 
    text-align: center;
    align-content: center;
}