h1 {
    background-color: orangered; 
    margin: 5%; 
    padding: 1% 0 1% 0%; 
    color: #ffffff; 
    text-align: center;
    align-content: center;
}

h2 {
    background-color: lightgreen; 
    margin: 5%; 
    padding: 1% 0 1% 0%; 
    color: #ffffff; 
    text-align: center;
    align-content: center;
}

h3 {
    text-align: center; 
    color: orangered; 
}

button {
    background-color: lightgreen; 
    padding: 1% 0 1% 0%; 
    color: #ffffff; 
    width: 400px; 
    margin: 0 auto; 
    text-align: center; 
    font-size: 24px; 
}

.center {
    text-align: center; 
}