<input type="text" [(ngModel)]="searchItem" (keydown.enter)="getShow()"/>
<div class="innercontainer floatright">
  <div *ngIf="show">
    <img [src]="show.Poster" [alt]="show.Title" class="imgradius"/>
  </div>
</div>
<div *ngIf="show">
    <h1>{{show.Title}}</h1>
    <h3>Release Date: {{show.Released}}</h3>
    <h3>Rated: {{show.Rated}}</h3>
    <h3>Actors: {{show.Actors}}</h3>
    <h3>Run Time: {{show.Runtime}}</h3>
    <h3>Meta Score: {{show.Metascore}}</h3>
    <h3>IMDB Rating: {{show.imdbRating}}</h3>
    <h3>IMDB Votes: {{show.imdbVotes}}</h3>
    <h2>Summary</h2>
        {{show.Plot}}
</div>
<!--<button (click)="getShow()">Get Data</button>-->