iframe {
    background-color: #fff; 
    padding: 3%; 
    margin: 1%; 
    border: 2px solid #ffffff;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

h1 {
    color: #ffffff; 
}

.floatRight {
    float: right; 
}

.newscontainer { 
    width: 60%; 
    margin-left: 20%; 
    /*margin-top: -25%; */
    text-align: center;
}

@media only screen and (max-width: 1440px) {
    .newscontainer {
        width: 80%; 
        margin-left: 10%; 
        /*margin-top: -22%; */
    }
}

@media only screen and (max-width: 1300px) {
    .newscontainer {
        width: 60%; 
        margin-left: 25%; 
        /*margin-top: -22%; */
    }
}

@media only screen and (max-width: 575px) {
    .newscontainer { 
        float: none; 
        margin: 0;  
        width: 100%; 
    }

    .floatRight {
        float: none; 
    }
}