<!--data from google sign in: displayName, email, photoURL-->
<!--Login-->
  <div *ngIf="(user | async)?.email" class="gravatar">
    <a title="Log Out"><img *ngIf="(user | async)?.uid" (click)="logout()" [src]="(user | async)?.photoURL" ></a>
    <div class="gravatartext">Hello {{(user | async)?.displayName}}</div>
  </div>
  <div *ngIf="(user | async)?.uid && !(user | async)?.email" class="gravatar">
    <a title="Log Out"><img *ngIf="(user | async)?.uid" (click)="logout()" src="assets/frog.jpg" ></a>
    <div class="gravatartext">Hello Anonymous</div>
  </div>
  <div *ngIf="(user | async)?.uid" class="upload">
    <h1 [innerHtml]="upload">Upload</h1>
  </div>
  <div id="login" *ngIf="!(user | async)?.uid" [style.display]="display">
    <h1 class="largefont">Welcome to Photo Talk</h1>
    <h3>Sign in With:</h3>
    <button *ngIf="!(user | async)?.uid" (click)="login()">Google<img src="assets/google.png" alt="Google Logo"></button><br>
    <button *ngIf="!(user | async)?.uid" (click)="loginAnonymous()">Anonymous</button>
  </div>
<!--upload file input-->
  <div *ngIf="(user | async)?.uid" >
    <h3 class="txtcenter datemargin">{{month + 1}}/{{day}}/{{year}}</h3>
    <!--<h4 class="txtcenter datemargin">{{7 - daysLeft}} Day(s) to vote</h4>-->
    <h1 class="txtcenter nowright">Latest Photos</h1>
  <div *ngIf="(user | async)?.uid" id="imageloader">
    <progress value="{{progressVal}}" max="100">{{progressVal}}</progress><br>
    <input type="file" value="upload" (change)="fileButton($event)">
  </div>
<!--chat list items-->
  <div *ngIf="(user | async)?.uid">
      <ul *ngFor="let item of items | async" [style.background]="color">
        <li>{{item.name}}: {{item.message}}</li>
      </ul>
  <input type="text" *ngIf="(user | async)?.uid" placeholder="Press enter to chat" (keyup.enter)="sendData($event.target.value)" [(ngModel)]="messageValue" />
  </div>
<!--Display images that have been uploaded 
to Firebase Storage-->
  <div id="imagecontainer" *ngIf="(user | async)?.uid">
    <div id="imagelist" *ngFor="let item of imageUrlArray; let i = index">
      <a [href]="item" target="_blank"><img [src]="item" /></a><br>
      <span class="vote">{{imageNameArray[i]}}</span>
      <!--<div class="vote" (click)="upvote(item)">[+] 0</div><div class="vote">[-]</div>-->
    </div>
  </div>

  
  