html, body {
    margin: 0; 
    padding: 0; 
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 0.5%;
    cursor: pointer;
}

input[type="text"] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    text-align: center;
    font-size: 16px;
    margin-left: 0.5%; 
    width: fit-content;
}

input[type="file"] {
    width: fit-content; 
    padding: 0.2%; 
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: fit-content;
}

progress[value] {
    margin-left: 0.5%; 
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    position: relative;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff; 
}

ul {
    color: #fff;
    width: fit-content;
    background-color: #4CAF50; 
    margin-left: 0.5%; 
    padding: 0.5%; 
    list-style-type: none; 
    border-radius: 90px;
}

h1 {
    color: tomato; 
}

#imagelist {
    font-size: 0; 
    width: 50%; 
    float: right; 
    padding: 0 20% 0 2%; 
}

#imagelist img {
    width: 150px; 
    height: auto; 
    padding: 1%; 
}

#imageloader { 
    padding: 1%; 
    margin-top: -5%; 
}

.txtcenter {
    text-align: center; 
}

.upload {
    margin-left: 3.5%; 
}

@media only screen and (max-width: 900px) {
    ul {
        padding: 4%; 
    }

    input[type="text"] {
        padding: 4%;
    }
}