html, body {
    margin: 0; 
    padding: 0; 
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 0.5%;
    cursor: pointer;
}

input[type="text"] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    text-align: center;
    font-size: 16px;
    margin-left: 0.5%; 
    width: fit-content;
}

input[type="file"] {
    width: fit-content; 
    padding: 0.2%; 
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: fit-content;
}

progress[value] {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    position: relative;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff; 
}

ul {
    color: #fff;
    width: fit-content;
    background-color: #4CAF50; 
    margin-left: 0.5%; 
    padding: 0.5%; 
    list-style-type: none; 
    border-radius: 90px;
}

h1 {
    color: tomato; 
}

img {
    width: 40px; 
    height: 40px; 
    border: 5px solid #4CAF50;
    border-radius: 90px;
    margin: 0.5%;
}

img:hover {
    cursor: pointer; 
}

#imageloader { 
    padding: 1%; 
    margin-top: -5%; 
}

.txtcenter {
    text-align: center; 
}

.upload {
    margin-left: 3.5%; 
}

@media only screen and (max-width: 1200px) {
    #imagelist {
        padding: 0 5% 0 2%; 
    }
}

@media only screen and (max-width: 700px) {
    input[type="text"] {
        width: 40%;
        font-size: 10px; 
    }

    input[type="file"] {
        width: 40%; 
        padding: 0; 
        margin: 0; 
        font-size: 10px; 
    }

    progress[value] {
        width: 40%; 
        padding: 0; 
        margin: 0; 
    }

    ul {
        width: 40%; 
        font-size: 12px;
        padding: 0.5%; 
        border-radius: 7px; 
    }

    #imagelist {
        padding: 0; 
        margin: 0; 
    }
    
    #imagelist img {
        width: 40%; 
        height: auto; 
        padding: 0.5%; 
        margin: 0;  
    }

    .nowright {
        text-align: right;
        margin-right: 14%;
        float: right;  
        width: 40%; 
        margin-top: -80px; 
    }
}