html, body {
    margin: 0; 
    padding: 0; 
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 0.5%;
    cursor: pointer;
}

button img {
    width: 20px; 
    height: 20px; 
    margin-bottom: -10px; 
}

input[type="text"] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    text-align: center;
    font-size: 16px;
    margin-left: 0.5%; 
    width: fit-content;
}

input[type="file"] {
    width: fit-content; 
    padding: 0.2%; 
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: fit-content;
    cursor: pointer; 
}

progress[value] {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    position: relative;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff; 
}

ul {
    color: #fff;
    width: fit-content;
    background-color: gray; 
    margin-left: 0.5%; 
    padding: 0.5%; 
    list-style-type: none; 
    border-radius: 90px;
}

h1,h2,h3,h4 {
    color: tomato; 
}

img {
    width: 40px; 
    height: 40px; 
    border: 5px solid #4CAF50;
    border-radius: 90px;
    margin: 0.5%; 
}


#imageloader { 
    padding: 1%; 
    margin-top: -5%; 
}

.vote {
    font-size: 1rem;
}

.txtcenter {
    text-align: center; 
}

.upload {
    margin-left: 3.5%; 
    cursor: hand; 
}

