
<div class="container">
    <!--if user has not set target calorie 
    display a message-->
    <div *ngFor="let item of target | async">
      <div *ngIf="item.$value == 0">
        <p>Please enter a Calorie goal for the day.</p>
      </div>
    </div>
    <!--input range with a on change event with targetValueChange() 
    that will change values in firebase database-->
  <div *ngFor="let item of sliderValue | async">
  <span (click)="minusOne()" class="largefont">-</span><input type="range" [min]="minValue" [max]="maxValue" [value]="item.$value" data-show-value="true" data-popup-enabled="true" [(ngModel)]="targetValue" (change)="targetValueChange()"><span (click)="plusOne()" class="largefont">+</span> 
      <h1 class="tomato">value {{targetValue}}</h1>
    <div *ngFor="let item of target | async">
      <h2>Target: {{item.$value}}</h2>
    </div>
  </div>
    <h2>Total: {{grandTotal}}</h2>
  <div *ngFor="let item of remaining | async">
    <div class="red" *ngIf="item.$value < 0">
      It's ok.<br>Tomorrow is Another day!<br>{{item.$value}}
    </div>
    <div *ngIf="item.$value >= 0">
      <h2>Remaining: {{item.$value}}</h2>
    </div>
  </div>
  <!--add and remove calorie-->
  <input type="text" [(ngModel)]="calorieAmount" (keydown.enter)="add()" placeholder="Calorie Amount"/>
  <button (click)="removeAll()">Reset</button>
  <div *ngIf="!isNumber">
    <h3>Numbers Only Please</h3>
  </div>
</div>