<label>Team</label>
<select [(ngModel)]="team"> 
  <option *ngFor="let val of teams" [attr.value]="val">{{val}}</option>
</select>
<label>Date</label>
<input type="date" [(ngModel)]="dateplayed" (change)="rundata()">
<h1>{{homecity}} {{homeName}}</h1>
<h2></h2>
<h1>{{homescore}}</h1>
<h1>{{awaycity}} {{awayName}}</h1>
<h2></h2>
<h1>{{awayscore}}</h1>
<div class="score">
  <ol>
    <li *ngFor="let item of inning; let i = index">{{i + 1}}</li><br>
    <li *ngFor="let item of inning">{{item.away}}</li> {{awayName}}<br>
    <li *ngFor="let item of inning">{{item.home}}</li> {{homeName}}
  </ol>
</div>
