/* You can add global styles to this file, and also import other style files */
ul {
    list-style-type: none; 
}

.setlocation {
    background-color: #ffffff;
    margin: 1%; 
    display: block; 
}