a {
    text-decoration: none; 
    color: #FFF; 
}

ul {
    list-style-type: none; 
    padding: 0;
}

button { 
    display: inline-block; 
    font-size: 1em; 
    background-color: #FFFFFF;
    color: #707070;
    margin: 0.5% 0.5%; 
    border-color: #707070;
    border-width: 4px; 
}

button:active { 
    background-color: #4285f4;
    color: #ffffff; 
}

span { 
    margin-left: 0.5%;
}

.favorite {
    font-size: .5em;
    margin-top: 0; 
}

input[type="text"] {
    margin-top: 1%; 
}

img {
    margin: 0 auto; 
    width: 40%; 
    padding: 1.5%; 
    background-color: #FFF; 
}

h4 {
    font-style: italic; 
}

@media only screen and (max-width: 950px) {
    img {
        width: 100%; 
        padding: 2%; 
    }  
}