.content {
    width: 20%; 
    height: auto; 
    background-color: #ffffff; 
    margin: 0 auto; 
    padding: 0.5%; 
    text-align: left; 
}

.topmargin {
    margin-top: 1%; 
}

.colorblack {
    color: #000000; 
}

.clearbutton {
    margin: 0.5%; 
    margin-bottom: -0.5%; 
    width: 100px; 
    border-radius: 25px;
    background-color: red;
    border: 3px solid #ffffff;     
}

button:active {
    background-color: #ffffff;
    border: 3px solid orangered;
}