.content {
    width: 20%; 
    height: auto; 
    background-color: #ffffff; 
    margin: 0 auto; 
    padding: 0.5%; 
    text-align: left; 
}

.topmargin {
    margin-top: 1%; 
}

.colorblack {
    color: #000000; 
}