<div class="center topmargin">
  <input type="text" [(ngModel)]="namestring" placeholder="Name"/>
</div>

<div class="center topmargin">
  <textarea [(ngModel)]="textstring" (keydown.enter)="addtext()" placeholder="Say Something Nice =)"></textarea>
</div>

<div class="center">
  <button (click)="addtext()" class="enterbutton">Enter</button>
</div>

<div class="center">
  <button (click)="cleartext()" class="clearbutton">Clear</button>
</div>

<div class="center content topmargin colorblack" *ngIf="textbool">
  <div class="paddingtwo" *ngFor="let item of name | async">
    {{item.name}}:<br>{{item.text}}
  <div>
</div>