.content {
    width: 20%; 
    height: auto; 
    background-color: #ffffff; 
    margin: 0 auto; 
    padding: 0.5%; 
    text-align: left; 
}

.topmargin {
    margin-top: 1%; 
}

.colorblack {
    color: #000000; 
}

.clearbutton {
    margin: 0.5%; 
    margin-bottom: -0.5%; 
    width: 100px; 
    border-radius: 25px;
    background-color: red;
    border: 3px solid #ffffff;     
}

.enterbutton {
    margin: 0.5%; 
    margin-bottom: -0.5%; 
    width: 100px; 
    border-radius: 25px;
    background-color: lawngreen;
    border: 3px solid #ffffff; 
}

button:active {
    background-color: #ffffff;
    border: 3px solid orangered;
}

input {
    border: 5px solid white; 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    text-align: center; 
}

textarea {
    border: 5px solid white; 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    text-align: center; 
    width: 300px; 
    height: 100px;   
}

.paddingtwo {
    padding: 2%; 
}