<div *ngFor="let item of locationFirebase | async" class="setlocation">
  <button class="btn" (click)="deleteLat(item)">[x]</button><button class="btn" (click)="setMap(item)">[map]</button>
  <span>Name: {{item.name | json}} Latitude: {{ item.lat | json}} Longitude: {{ item.long | json}}</span>
</div>

<input type="text" [(ngModel)]="locationName" (keydown.enter)="setLocation()" placeholder="Location Name">

<iframe [src]="url | safe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

