<div class="map">
  <iframe [src]="url | safe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="userlist">
  <div *ngFor="let item of locationFirebase | async" class="setlocation">
    <button class="btn" (click)="deleteLat(item)">[x]</button><button class="btn" (click)="setMap(item)">[map]</button>
    <span>Name: {{item.name }} Latitude: {{ item.lat }} Longitude: {{ item.long }}</span>
  </div>

  <input type="text" [(ngModel)]="locationName" (keydown.enter)="setLocation()" placeholder="Location Name">
</div>



